@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600&display=swap");

:root {
  --black: rgb(0, 0, 4);
  --primary: rgb(0, 45, 98);
  --danger: rgb(253, 72, 27);
  --danger-muted: rgb(185, 37, 0);
  --white: #fff;
  --black-muted: rgb(38, 38, 38);
}

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--black) !important;
  background-color: #ded1c0 !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(38, 38, 38, 0.4);
}

.logo {
  width: 10%;
}
.header {
  padding: 1rem 7.5rem 0.5rem 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 26px;
}

.nav-link {
  text-decoration: none;
  color: rgba(0, 0, 4, 0.7);
  transition: all 200ms ease-in-out;
}

.nav-link.active {
  color: var(--black);
}

.nav-link:hover {
  color: var(--primary) !important;
}

.lets-chat {
  text-decoration: none;
  color: var(--black);
  padding: 8px 16px;
  border: 1px solid rgba(0, 0, 4, 0.8);
  border-radius: 8px;
  transition: all 200ms ease-in-out;
  max-width: fit-content;
}

.lets-chat:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white);
}

.container {
  display: flex;
}
.left-container {
  flex: 1;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0.7;
}

.intro-text {
  font-size: 80px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.intro-text span {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

.hi-text {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dev-tag {
  display: inline;
  font-size: 18px;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  background-color: var(--primary);
  color: var(--white);
  box-shadow: 10px 10px 20px -12px var(--black);
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-top: 2rem;
}

.intro-name {
  margin-top: -45px !important;
}

.profile-pic {
  width: 250px;
}

.profile-name {
  color: rgba(0, 0, 4, 0.5);
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icon {
  font-size: 36px;
  transition: all 250ms ease-in-out;
}

.social-icon:hover {
  color: var(--primary);
}

.description {
  font-size: large;
  padding-left: 8px;
}

.tech-stack {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--white);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 15px;
}

.links {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 2.5rem;
}

.btn-hire {
  margin-left: 8px;
  padding: 0.75rem 1.5rem;
  background-color: var(--danger);
  color: var(--white);
  text-decoration: none;
  transition: all 250ms ease-in-out;
  font-size: 20px;
}

.btn-hire:hover {
  background-color: var(--danger-muted);
  color: var(--white);
}

.btn-projects {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  color: var(--black);
  transition: all 250ms ease-in-out;
}

.stats {
  display: flex;
  flex-direction: column;
  user-select: none;
  margin-top: 2.5rem;
  padding-left: 8px;
}

.stat-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8rem;
}

.stat {
  display: flex;
  flex-direction: column;
}

.stat-title {
  font-size: 40px;
  font-weight: bold;
}

.mobile-navigation {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .tech-stack {
    display: none;
  }
}

@media only screen and (max-width: 1030px) {
  body {
    background-color: white !important;
    padding-bottom: 1rem;
  }

  .navigation,
  .lets-chat {
    display: none;
  }

  .mobile-navigation .lets-chat {
    display: block;
    max-width: fit-content;
  }

  .header {
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
  }

  hr {
    margin: 0 !important;
    padding: 0 !important;
  }

  .logo {
    width: 30%;
  }

  .mobile-navigation {
    display: block;
    position: relative;
  }

  .menu-nav {
    position: relative;
    display: none;
    user-select: none;
  }

  .menu-nav.active {
    display: block;
  }

  .fa-bars {
    font-size: 20px;
    color: var(--primary);
    cursor: pointer;
  }

  .menu-nav ul {
    list-style-type: none;
    background-color: var(--primary);
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    min-width: 250px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 4, 0.3);
  }

  .menu-nav ul li a {
    color: rgba(200, 200, 200);
    border-color: rgba(200, 200, 200, 0.5);
  }

  .menu-nav ul li a:hover {
    color: var(--white) !important;
    border-color: var(--white);
  }

  .lets-chat {
    margin-bottom: 1rem !important;
  }

  .intro-text span {
    font-size: 60%;
  }

  .intro-name {
    margin-top: -24px !important;
  }

  .description {
    font-size: 90%;
  }

  .links a {
    font-size: 90%;
  }

  .stats {
    gap: 1.5rem;
  }

  .stat-row {
    flex-direction: column;
    gap: 1rem;
  }

  .stat {
    justify-content: center;
    align-items: center;
  }

  .profile-pic {
    width: 35%;
  }

  .tech-stack {
    display: none;
  }

  .social-icon {
    font-size: 24px;
  }

  .container {
    flex-direction: column-reverse;
  }

  .left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
